body {
    font-family: "Lucida Console", Courier, monospace;
    text-align: center;
}

.side-by-side-container {
    display: flex;
}

.side-by-side-element {
    flex: 33%;
}

.action-border {
  border-color:red;
  border-style: solid;
  border-radius: 5px;
  margin: 15px;
  padding: 5px;
}
