<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Haximilian: Atomicity</title>
    <link rel="stylesheet" href="databaseStyle.css">
    <script type="text/javascript" src="model.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
      window.onload = initialize;
    </script>
  </head>
  <body>
    <h1>Atomicity: Redo Logging</h1>
    <h3>introduction</h3>
    <p>
      Databases and similar systems often implement atomic transactions. 
      Transactions are groups of statements and the atomicity property guarantees that either all or none of a transaction's statements will modify the system's state.
      Commiting a transaction ensures that its statements are applied to the system's state.
      If an uncommited transaction is in progress and the system crashes, all executed statements belonging to the transaction must be undone.
      Our scheme must be robust; a crash could occur at anytime even while we are recovering from a previous crash.
      Below, you'll find an implementation of atomic transactions using a redo logging scheme.
    </p>
    <h3>usage</h3>
    <p>
      Start by creating a transaction. Update a record to a numeric value using one of the ongoing transaction and notice a new entry is added to the journal / log. Simulate a system crash and watch all uncommited transaction get rolled back.
    </p>
    <div id="application">
      <div id="start" class="action-border">
        <h3>start-transaction</h3>
        <button type="button" onclick="startTransaction()">start</button>
      </div>
      <div id="update" class="action-border">
        <h3>update-record</h3>
        <label for="update-transaction">transaction:</label>
        <select id="update-transaction">
          <option v-for="(value, key) in ongoingTransactions" bind:value="key">
            {{key}}
          </option>
        </select>
        <label for="update-key">key:</label>
        <select id="update-key">
          <option v-for="(value, key) in records" bind:value="key">
            {{key}}
          </option>
        </select>
        <label for="update-value">value:</label>
        <input type="text" id="update-value"></input>
        <input type="submit" value="update" onclick="updateWrapper()"></input>
      </div>
      <div id="commit" class="action-border">
        <h3>commit-transaction</h3>
        <label for="commit-transaction">transaction:</label>
        <select id="commit-transaction">
          <option v-for="(value, key) in ongoingTransactions" bind:value="key">
            {{key}}
          </option>
        </select>
        <input type="submit" value="commit" onclick="commitWrapper()"></input>
      </div>
      <div id="system-crash" class="action-border">
        <h3>system-crash</h3>
        <input type="submit" value="system-crash" onclick="systemCrash()"></input>
      </div>
      <div class="side-by-side-container">
        <div class="side-by-side-element">
          <h3>records</h3>
          <table>
            <tr>
              <th>key</th>
              <th>value</th>
              <th>lock</th>
            </tr>
            <tr v-for="(value, key) in records">
              <td>{{ key }}</td>
              <td>{{ value.value }}</td>
              <td>{{ value.lock }}</td>
            </tr>
          </table>
        </div>
        <div class="side-by-side-element">
          <h3>on-going transactions</h3>
          <table>
            <tr v-for="(value, key) in ongoingTransactions">
              <td>{{ key }}</td>
            </tr>
          </table>
        </div>
        <div class="side-by-side-element">
          <h3>journal / log</h3>
          <ol>
            <li v-for="value in journal">
              {{ value }}
            </li>
          </ol>
        </div>
      </div>
    </div>
  </body>
</html>
